nav {
	background: rgba(0, 0, 0, 0.4);
	width: max-content;
	display: block;
	padding: 10px 22px;
	z-index: 3;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 32px;
	display: flex;
	gap: 14px;
	border-radius: 50px;
	backdrop-filter: blur(15px);
}

nav a {
	background: transparent;
	padding: 10px;
	border-radius: 50%;
	display: flex;
	color: var(--color-light);
	font-size: 1.1em;
}

nav a:hover {
	background: rgba(0, 0, 0, 0.3);
}

nav a.active {
	background: var(--color-primary);
	color: var(--color-bg);
}
